@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --color-light-blue: #c5e1e9;
  --color-blue: #9bb1ff;
  --color-dark-purple: #6a1b9a;
  --color-light-purple: #9575cd;
  --color-teal: #80cbc4;
  --color-peach: #ffab91;
  --color-soft-yellow: #fff59d;
  --color-pink: #f48fb1;
}

@layer utilities {
  .bg-light-blue {
    background-color: var(--color-light-blue);
  }
  .bg-blue {
    background-color: var(--color-blue);
  }
  .bg-dark-purple {
    background-color: var(--color-dark-purple);
  }
  .bg-light-purple {
    background-color: var(--color-light-purple);
  }
}

body {
  font-family: var(--primary-font);
  background: linear-gradient(to bottom, #0f0f1a 0%, #1a1a2b 85%, #2a1c3f 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  @apply font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2;
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  @apply text-white;
  font-family: var(--primary-font);
}

.MuiTypography-root {
  font-family: "Montserrat", sans-serif !important;
}

/* Estilo para os dias com treino */
.training-day {
  background-color: var(--color-dark-purple) !important;
  color: white !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Estilo geral do calendário */
.react-calendar {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.react-calendar__tile {
  aspect-ratio: 1 / 1;
  max-width: 36px;
  padding: 4px !important;
  font-weight: bold;
  border-radius: 50%;
  transition: background-color 0.3s;
  transform: scale(0.75);
  font-size: 1.2rem !important;
}

/* Ajustando os botões de navegação */
.react-calendar__navigation button {
  color: var(--color-dark-purple);
  font-weight: bold;
  background: none;
  border: none;
  padding: 6px;
  margin: 2px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.react-calendar__navigation button:hover {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--color-dark-purple);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  font-family: var(--secondary-font);
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  border: none !important;
  cursor: default;
}
